#canvas{
    background: white;
    display: block;
}
body{
    margin: 0; /*让页面与视可重合*/
}
.actions{
    position: fixed;
    bottom: 10px;
    left: 10px;
}
.actions > #brush{
    display: none;
}
.actions.x > #brush{
    display: inline-block;
}
.actions.x > #eraser{
    display: none;
}